/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Custom Properties */

:root {
  --ff-primary: 'Crimson Text', serif;
  --ff-secondary: 'Montserrat', sans-serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-dark: #000;
  --clr-light: #fff;
  --clr-accent: #f75a38;
  --clr-gray: #333333;

  --fs-h1: 3rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* Section General */

section,
header {
  width: 90%;
  margin: 2rem auto;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 380px;
  margin-bottom: 2rem;
}

.nav {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border-top: var(--clr-dark) 1px solid;
  border-bottom: var(--clr-dark) 1px solid;
  justify-content: space-evenly;
}

.nav li {
  text-transform: uppercase;
}

/* Story */
.headline,
.story {
  margin: 0 auto 6rem;
  max-width: 75ch;
}

@media only screen and (min-width: 992px) {
  .stories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    max-width: 1200px;
  }

  .headline {
    max-width: 1200px;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 2fr minmax(40ch, 1fr);
    grid-gap: 1.75em;
    align-items: center;
  }

  .headline .story__section {
    margin-top: 0;
  }

  .story .story__title {
    font-size: 1.5rem;
  }
}

.story__section,
.story__byline {
  font-family: var(--ff-secondary);
}

.story__section {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.story__byline {
  margin-bottom: 0.25rem;
}

.story__abstract {
  margin-top: 0.25rem;
}

.story__link {
  color: var(--clr-accent);
  text-decoration: underline;
  transition: 250ms ease-in-out;
}

.story__link:hover,
.story__link:active {
  color: var(--clr-dark);
  text-decoration: none;
}

/* Footer */
footer {
  background: var(--clr-gray);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter {
  width: 100%;
  max-width: 772px;
}

.newsletter__cta {
  color: var(--clr-light);
}

.newsletter__form {
  width: 100%;
  margin-top: 1.25rem;
  display: flex;
}

.newsletter__form input {
  -webkit-appearance: none;
  outline: none;
  border: none;
}

.newsletter__input {
  flex-grow: 1;
  padding: 0.75rem;
}

.newsletter__submit {
  background: var(--clr-accent);
  color: var(--clr-light);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition: 250ms ease-in-out;
}

.newsletter__submit:hover,
.newsletter__submit:active {
  background: var(--clr-dark);
  cursor: pointer;
}

.follow__list {
  border: 1px solid #848484;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.75rem;
}

.follow__list a {
  font-size: 1.5rem;
  padding: .5rem;
  color: var(--clr-accent);
  transition: 250ms ease-in-out;
}

.follow__list a:hover,
.follow__list a:active {
  color: var(--clr-light);
}

.follow {
  margin-top: 2.5rem;
}

.follow__label {
  color: var(--clr-light);
  background: var(--clr-gray);
  font-family: var(--ff-secondary);
  display: inline-block;
  position: absolute;
  padding: 0 .75rem;
}

.copyright {
  margin-top: 1rem;
  color: var(--clr-light);
  font-family: var(--ff-secondary);
}

.copyright a {
  color: var(--clr-accent);
  text-decoration: underline;
  transition: 250ms ease-in-out;
}

.copyright a:hover,
.copyright a:active {
  color: var(--clr-light);
  text-decoration: none;
}
